<body class="noselectt">

  <section id="main" >
    <header id="hero" class="hero">
      <img src="assets/images/team.svg" class="main-image" alt="GDSC AEC Team">
      <!-- <img id = "main_logo"src="../assets/images/AEC_Trans.png" alt="darkmode" class="noselect"> -->
    </header>
    <div id="outer">
      <p>Recruitment On Going...</p>
      
    </div>
    <div id="outer">

      <!-- <button class="mdc-button mdc-button--outlined mdc-button--icon-leading" onclick="location.href='https://forms.gle/DcweerS3geUbAcRa9'">
        <span class="mdc-button__ripple"></span> 
        <span class="mdc-button__label">Join the Team</span>
      </button> -->
      <!-- <button style="font-size: medium ;" mat-raised-button color="primary" onclick="location.href='https://gdsc.community.dev/aditya-engineering-college-surampalem/'">Join Chapter <mat-icon>open_in_new</mat-icon></button> -->
    </div>
</section>

  
</body>